.filter {
    display: grid;
    gap: 1em;
    background-color: #E0E0E0;
    padding: 1em;
    margin-top: 20px;
    border-radius: 8px;
}

.filter-group {
    display: grid;
    gap: 0.5em;
    
}

.filter-type{
    font-weight: 200;
    margin-bottom: 0.5em;
}
.search-button-filter {
    background-color: #027bfd;
    border-radius: 30px;
    padding: 8px 16px;
    flex-shrink: 0;
    max-width: 100px;
    max-height: 40px;
    text-align: center;
    cursor: pointer;
    margin-right: 30px;
    justify-self: center;
}

 .range-slider {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5em;
    color: black;
    margin:  10px auto;
} 

input[type="checkbox"] {
    
    position: relative;
    background-color: #cfcfcf;
    accent-color: #000;
    height: 13px;
    width: 13px;
    border-radius: .25rem;
    cursor: pointer;

}

input[type="checkbox"]:checked {
    background-color: #000;
}

.slider-container {
    position: relative;
    width: 100%;
    margin: 1em 0;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.5em;
    outline: none;
    background: transparent;
    position: absolute;
    top: 0;
    z-index: 2;
}

.slider::-webkit-slider-runnable-track {
    background: transparent;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}

.progress {
    height: 0.5em;
    border-radius: 0.25em;
    background: linear-gradient(to right, #55e0ff, #3193fc);
    position: absolute;
    top: 0;
    z-index: 1;
}

.slider-values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

.number-input {
    width: 4.5em;
    padding: 0.2em;
    border: 1px solid #909090;
    border-radius: 4px;
    text-align: center;
}

.salary-values {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
}

.filter h1 {
    font-weight: 100;
    margin-bottom: -10px;
}

.separator-filter {
    height: 1px;
    width: 250px;
    background-color: #ccc;
    margin-bottom: 10px;
}